body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;

}

.lab_list {
    display: inline-flex; /* Размер контейнера подстраивается под контент */
    flex-direction: column; /* Вертикальное расположение ссылок */
    align-items: center;
    border: 2px solid #ccc; /* Граница вокруг списка */
    border-radius: 10px; /* Скругленные углы */
    background-color: #fff; /* Фон контейнера */
    padding: 20px 40px; /* Внутренние отступы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для блока */
}

.lab_list a:hover {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #5b5959;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
}

.lab_item {
    margin: 10px 0;
    text-decoration: none;
    color: #6c7e7c;
}